@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply text-[12.5px] lg:text-[14px] xl:text-[15px] 2xl:text-[16.5px];

	--sl-content-width: 68rem;
	--sl-text-h1: var(--sl-text-4xl);
	--sl-text-h2: var(--sl-text-3xl);
	--sl-sidebar-width: 22rem;
	--sl-color-accent-low: #0e204f;
	--sl-color-accent: #1b4cff;
	--sl-color-accent-high: #afc8ff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeedf0;
	--sl-color-gray-2: #c2c1c5;
	--sl-color-gray-3: #8c8a92;
	--sl-color-gray-4: #58575e;
	--sl-color-gray-5: #38373e;
	--sl-color-gray-6: #27262c;
	--sl-color-black: #18181b;

	&[data-theme='light'] {
		--sl-color-accent-low: #c4d7ff;
		--sl-color-accent: #1e50ff;
		--sl-color-accent-high: #0f2975;
		--sl-color-white: #18181b;
		--sl-color-gray-1: #27262c;
		--sl-color-gray-2: #38373e;
		--sl-color-gray-3: #58575e;
		--sl-color-gray-4: #8c8a92;
		--sl-color-gray-5: #c2c1c5;
		--sl-color-gray-6: #eeedf0;
		--sl-color-gray-7: #f6f6f8;
		--sl-color-black: #ffffff;
	}
}
* {
	font-variant-ligatures: none;
}
p {
	@apply text-lg;
}
p img {
	@apply mx-auto;
}
p:has(.katex:only-of-type),
.katex-display {
	@apply text-center text-2xl;
}
table {
	@apply w-full !table;
	thead, tbody, tr {
		@apply w-full;
	}

	.katex {
		@apply text-xl;
	}
}
li .katex {
	@apply text-2xl;
}