@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply text-[13px] lg:text-[14.5px] xl:text-[15.5px] 2xl:text-[17px];

	--sl-content-width: 68rem;
	--sl-text-h1: var(--sl-text-4xl);
	--sl-text-h2: var(--sl-text-3xl);
	--sl-sidebar-width: 22rem;
	--sl-color-accent-low: #0e204f;
	--sl-color-accent: #1b4cff;
	--sl-color-accent-high: #afc8ff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeedf0;
	--sl-color-gray-2: #c2c1c5;
	--sl-color-gray-3: #8c8a92;
	--sl-color-gray-4: #58575e;
	--sl-color-gray-5: #38373e;
	--sl-color-gray-6: #27262c;
	--sl-color-black: #18181b;

	&[data-theme='light'] {
		--sl-color-accent-low: #c4d7ff;
		--sl-color-accent: #1e50ff;
		--sl-color-accent-high: #0f2975;
		--sl-color-white: #18181b;
		--sl-color-gray-1: #27262c;
		--sl-color-gray-2: #38373e;
		--sl-color-gray-3: #58575e;
		--sl-color-gray-4: #8c8a92;
		--sl-color-gray-5: #c2c1c5;
		--sl-color-gray-6: #eeedf0;
		--sl-color-gray-7: #f6f6f8;
		--sl-color-black: #ffffff;
	}
}
* {
	font-variant-ligatures: none;
}
p {
	@apply text-lg;
}
p:not(:has(.MathJax:only-of-type)) {
	@apply max-w-prose
}
p img {
	@apply mx-auto;
}
p:has(.MathJax:only-of-type) mjx-container svg,
mjx-container[display="true"] svg {
	@apply text-center text-xl mx-auto my-10;
}
p:has(.MathJax):not(:has(.MathJax:only-of-type)) mjx-container svg {
	@apply inline-block text-xl;
}
h2 mjx-container svg {
	@apply !inline-block;
}
p:has(.MathJax:only-of-type),
.katex-display {
	@apply text-center text-xl;
}
table {
	@apply w-full !table;
	thead, tbody, tr {
		@apply w-full;
	}
	.MathJax {
		@apply inline-block text-xl;
	}
	img {
		@apply m-auto;
	}
	
	td .MathJax {
		@apply m-auto;
	}
}
li .MathJax {
	@apply text-xl;
	svg {
		@apply inline-block mx-1;
	}
}
.starlight-aside .MathJax {
	@apply text-xl;
}