@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply text-[13.25px] lg:text-[14.7px] xl:text-[15.8px] 2xl:text-[17px];

	--sl-content-width: 68rem;
	--sl-content-pad-x: 3rem;
	--sl-text-h1: var(--sl-text-4xl);
	--sl-text-h2: var(--sl-text-3xl);
	--sl-text-h3: var(--sl-text-2xl);
	--sl-text-h4: var(--sl-text-xl);
	--sl-sidebar-width: 22rem;
	--sl-color-accent-low: #0e204f;
	--sl-color-accent: #1b4cff;
	--sl-color-accent-high: #afc8ff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeedf0;
	--sl-color-gray-2: #c2c1c5;
	--sl-color-gray-3: #8c8a92;
	--sl-color-gray-4: #58575e;
	--sl-color-gray-5: #38373e;
	--sl-color-gray-6: #27262c;
	--sl-color-black: #2c2c32;
	--sl-color-blue-low: hsl(var(--sl-hue-blue), 54%, 30%);

	&[data-theme='light'] {
		--sl-color-accent-low: #c4d7ff;
		--sl-color-accent: #1e50ff;
		--sl-color-accent-high: #0f2975;
		--sl-color-white: #18181b;
		--sl-color-gray-1: #27262c;
		--sl-color-gray-2: #38373e;
		--sl-color-gray-3: #58575e;
		--sl-color-gray-4: #8c8a92;
		--sl-color-gray-5: #c2c1c5;
		--sl-color-gray-6: #eeedf0;
		--sl-color-gray-7: #f6f6f8;
		--sl-color-black: #ffffff;
	}

	@media (max-width: 500px) {
		--sl-content-pad-x: 1.2rem;
	}
}
* {
	font-variant-ligatures: none;
}
p{
	@apply text-lg;
}
li {
	@apply text-md;
}
p:not(:has(.MathJax:only-of-type)):not(:has(img:only-of-type)) {
	@apply max-w-prose
}
p img {
	@apply mx-auto;
}
p:has(.MathJax:only-of-type) mjx-container svg,
mjx-container[display="true"] svg {
	@apply text-center text-xl mx-auto my-10;
}
p:has(.MathJax):not(:has(.MathJax:only-of-type)) mjx-container svg {
	@apply inline-block text-xl;
}
h2 mjx-container svg,
h3 mjx-container svg,
h4 mjx-container svg {
	@apply !inline-block;
}
p:has(.MathJax:only-of-type),
.katex-display {
	@apply text-center text-xl;
}
table {
	@apply w-full !table;
	thead, tbody, tr {
		@apply w-full;
	}
	.MathJax {
		@apply inline-block text-xl;
	}
	img {
		@apply m-auto;
	}
	td .MathJax {
		@apply m-auto;
	}
	thead:has(th:nth-child(2)):not(:has(th:nth-child(3))) {
		th:nth-child(1){
			@apply w-4/12;
		}
		th:nth-child(2){
			@apply w-8/12;
		}
	}
	thead:has(th:nth-child(3)):not(:has(th:nth-child(4))) {
		th:nth-child(1){
			@apply w-4/12;
		}
		th:nth-child(2){
			@apply w-3/12;
		}
		th:nth-child(3){
			@apply w-5/12;
		}
	}
}
li .MathJax {
	@apply text-xl;
	svg {
		@apply inline-block mx-1;
	}
}
.starlight-aside .MathJax {
	@apply text-xl;
}
strong {
	color: #ff2f87;
}
#content-included {
	@apply relative pt-20 sm:pt-16;
	counter-reset: total-links;
	a:not(#license) {
		@apply border border-gray-200 no-underline px-3.5 py-1 text-[var(--sl-color-white)] hover:bg-[var(--sl-color-accent-low)] dark:hover:bg-[var(--sl-color-accent-high)] hover:text-black cursor-pointer rounded-lg transition-colors inline-flex items-center gap-1;
		strong {
			@apply text-inherit font-medium;
		}
	}
	section {
		@apply max-w-[100ch];
		counter-reset: link;
	}
	.links-group {
		@apply flex gap-3 flex-wrap;
		a {
			counter-increment: link 1 total-links 1;
			&::before {
				@apply text-xs;
				content: "[" counter(link, decimal-leading-zero) "]";
			}
		}
	}
	p:has(#total-links-count) {
		@apply leading-snug;
	}
	#total-links-count::before {
		@apply font-bold;
		content: counter(total-links) " pages";
	}
}
br {
	@apply !mb-0;
}
@page {
	margin-top: 1in;
	margin-bottom: 1in;
}
@media print {
	:root {
		--path: "https://s1.sahithyan.dev";
	}
	header.header, nav, footer, .starlight__sidebar, astro-dev-toolbar {
		@apply !hidden;
	}
	div:has(> .sl-markdown-content)::after {
		@apply block mt-8 text-sm;
		content: "This PDF is saved from " var(--path);
	}
	.main-frame {
		@apply pt-2 pl-2;
	}
	h1,h2,h3,h4,h5,h6 {
		@apply !break-before-auto !break-after-avoid-page;
	}
	img, ul, p {
		@apply !break-inside-avoid;
	}
}
